<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Выбор игры</title>
</head>
<body>
    <h1>Выберите случайный игру на вечер</h1>
    <a href="/all">Избранное</a>
    <button id="gen_btn">Найти</button><br>
    <button id="add">Добавить в избранное</button>

    <div class="imdbID">
        <img id="thumbnail" src="" alt="Game Image">
        <p id="name_game"></p>
        <div id="description_game"></div>
        <p id="genre_game"></p>
        <p id="release_date"></p>
    </div>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename= 'script.js') }}"></script>
</body>
</html>
